{% extends 'base.html' %} {% load static %} {% block title %} Welcome-taskmate {% endblock title %} {% block content %}
<div class="row mt-5" style="margin: 0 auto;">
    <div class="col-lg-4">
        <img style="border-radius: 7px;" class="rounded-lg shadow-sm" src="{% static 'todolist_app\images\stick-note.jpg' %}" width="350" height="210" alt="" />
    </div>
    <div class="col-lg-4">
        <img style="border-radius: 7px;" class="rounded-lg shadow-sm" src="{% static 'todolist_app\images\task_image.png' %}" width="350" height="210" alt="" />
    </div>
    <div class="col-lg-4">
        <img style="border-radius: 7px;" class="rounded-lg shadow-sm" src="{% static 'todolist_app\images\task_image_2.jpg' %}" width="350" height="210" alt="" />
    </div>
    <div class="row mt-5" style="margin: 0 auto;">
        <div class="col-md-10 offset-md-1">
            <center>
                <p class="h1 text-primary">Quick And Easy to use,anytime,anywhere</p>
            </center>
            <center>
                <p class="h2 mt-3 ">plan your day better,get your life organized</p>
            </center>
            <center>
                <p class="h5">TaskMate Lets you keep track of your task In one Place</p>
            </center>
            <center>

                <Button class="btn btn-primary btn-lg shadow-sm" mt-3><a style="color: white;" href="{% url 'todolist'%}">Let's get started</a></Button>
            </center>

        </div>
    </div>
</div>

{% endblock content %}